<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darkwinter.bookfilms">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="My Movie Booking"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmReceiver" />

        <service android:name=".RingRing"
            android:enabled="true">
        </service>

        <!--Login activity-->
        <activity android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.ActionBar"/>
        <!--Regist activity-->
        <activity android:name=".RegisterActivity"
            android:label="Register"
            android:theme="@style/AppTheme.ActionBar"/>
        <!--Start Activity activity-->
        <activity android:name=".StartActivity"
            android:label="Login"/>
        <!--Profile activity-->
        <activity android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.ActionBar"/>
        <!--Movie info activity-->
        <activity android:name=".MovieInfoActivity"
            android:label="Movie Information"
            android:theme="@style/AppTheme.ActionBar"/>
        <!--Booking ticket activity-->
        <activity android:name=".BookingTicketActivity"
            android:label="Booking"
            android:theme="@style/AppTheme.ActionBar"/>
        <!--Update profile activity-->
        <activity android:name=".UpdateProfileActivity"
            android:label="Update profile"
            android:theme="@style/AppTheme.ActionBar"/>
        <!--Confirm activity-->
        <activity android:name=".ConfirmInfoActivity"
            android:label="Confirmation"
            android:theme="@style/AppTheme.ActionBar"/>
    </application>

</manifest>
